html body .food-nav {
    background-color: #63bd45;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 100;
}

html body .food-link {
    color: white !important;
}

.navbar-nav {
    margin-left:auto;
}