.zip-label {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 6px #000000;
}

@media only screen and (max-width : 320px) {
    .zip-form {
        max-width: 60%;
    }
}

.zipcode {
    width:20%;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}

.form-cont {
    display:flex;
    max-width: 95%;
    padding-bottom: 50px;
}

.home-container .zipform {
    margin-bottom: 0px;
}

html body .zip-sub {
    align-self: flex-end;
    background-color: #63bd45;
    border-color: #63bd45;
    box-shadow: 2px 2px grey;
}

.home {
    background-image: url('./res/aubergines-bio-cabbage-5205.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}